@import url("http://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "COCOGOOSE", sans-serif;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

#logo {
  font-weight: 800;
  text-transform: uppercase;
}

.nav-links {
  list-style: none;
  display: flex;
  font-weight: 600;
}

.nav-link {
  cursor: pointer;
  transition: 0.5s;
  border-left: 2px solid black;
  padding-inline: 5px;
}

.nav-link:nth-child(1) {
  border: none;
}

.nav-link.active {
  color: green;
}

.nav-link:hover {
  color: green;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  max-width: 600px;
  min-height: calc(100vh - 285px);
  padding: 10px;
  gap: 10px;
}

section.hide {
  display: none;
}

section:nth-child(1) {
  padding-top: 20px;
}

.added-books-container {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 0 10px 0.5px rgb(236, 236, 236);
}

.added-books-container > :nth-child(even) {
  background: rgb(228, 228, 228);
}

.added-books-container hr {
  width: 90%;
  margin: auto;
}

.book {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.remove-button {
  padding: 3px 10px;
  font-weight: 900;
  color: white;
  border: none;
  border-radius: 5px;
  background: red;
  cursor: pointer;
  transition: 0.3s;
}

.remove-button:hover {
  background: rgb(219, 0, 0);
}

.form-prompt {
  margin-top: 20px;
}

.error-message {
  color: #f00;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input {
  padding: 3px 8px;
}

form button {
  width: min-content;
  align-self: flex-end;
  padding: 3px 8px;
  color: white;
  border: none;
  border-radius: 3px;
  background: green;
  box-shadow: 1px 1px 2px 0.5px lightgray;
  transition: 0.2s;
}

form button:hover {
  box-shadow: none;
}

form button:active {
  background: darkgreen;
  box-shadow: none;
}

footer {
  background: #d3d3d3;
  padding: 30px;
}
